nav{
    margin-left: 30px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

li{
    display: inline-block;
    font-family: customfont;
}

ul li {
    display: inline-block;
    position: relative;
    right: 37px;
}

ul li:hover {
    background: #00001a;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 160px;
    display: none;
}

ul li ul li {
    background: #00001a;
    display: block;
    font-family: 'Abril Fatface', cursive;
}

ul li ul li a {
    display:block !important;
}

ul li ul li:hover {
    background: #666;
}


a{
    font-size: 2em;
    color: red;
    list-style: none;
    text-decoration: none;
}
a:hover {
    color: yellow;
}
.home {
    color: red;

}
h2 {
    color: red;
    padding-left: 100px;
}
.main{
    background-color: rgba(100, 155, 100, 0.5);
    background-image: url("https://nefariousreviews.files.wordpress.com/2019/01/banana-fish-new-york.jpg") ;
    /*background-size: 1920px;*/
}

#ny{
    cursor: pointer;
    margin-top: 250px;
    margin-left: 500px;
    margin-right: 500px;
    color: rgb(100%, 20%, 10%);
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    text-shadow: 0 3px 2px white;
    font-size: 35px;
    letter-spacing: 0.07em;
}

.inf{
    display: none;
}
#ny:hover + .inf{
    border-style: outset;
    display: inline;
    margin-left: 800px;
    background-color: lavender;
    color: black;
    font-size: 1.5em;
}
