<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="components.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Components</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar bg-dark py-1" style="height: 4.7vh">
      <div class="container-fluid px-5 ms-5">
        <a class="navbar-brand" href="#">Project2023</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active bg-white py-2" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact <span class="badge rounded-pill bg-secondary">3</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" style="height: 4vh" type="email" placeholder="Email" aria-label="Search">
            <input class="form-control me-2" style="height: 4vh" type="password" placeholder="Password" aria-label="Search">
            <button class="btn btn-success" style="height: 4vh; width: 20vh"  type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="p-5 bg-light ">
        <h1 class="mb-3 mt-4 ms-5" style="font-size: 10vh">Hello, world!</h1>
        <p class="mb-3 ms-5" style="font-size: 3vh">This is exercise #9. It includes a large callout ...</p>
        <a class="btn btn-primary ms-5" href="#" role="button">Learn more</a>
    </div>
    <div class="container ms-5 ps-5">
        <div class="row mt-5">
            <div class="col-md-4">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem,
                    enim esse ex fugiat id laudantium nisi odit perspiciatis voluptas.</p>
                <button class="btn btn-outline-dark"><i class="fa fa-signal me-2"  aria-hidden="true"></i>View details</button>
            </div>
            <div class="col-md-4">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem,
                enim esse ex fugiat id laudantium nisi odit perspiciatis voluptas.</p>
                <button class="btn btn-outline-dark"><i class="fa fa-mobile me-2" aria-hidden="true"></i>View details</button>
            </div>
            <div class="col-md-4">
                <h3>Heading <span class="badge bg-info">New</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem,
                enim esse ex fugiat id laudantium nisi odit perspiciatis voluptas.</p>
                <button class="btn btn-outline-dark"><i class="fa fa-map-marker me-2" aria-hidden="true"></i>View details</button>
            </div>
        </div>


    </div>




</body>
</html>