<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'index.html' %}
    <title>{% block title %}Pets{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block main %}
            {% for pet in data %}
                  <div class="pets_frames p-5 bg-light mt-5" style="border-style: solid; width: 50vh">
                      <img src="{{pet.image}}">
                      <div class="text">
                          <h3 class="ms-5 mt-4" style="color: royalblue"> {{pet.breed}} {{pet.name}}</h3>
                          <div class="mt-5 ms-5">
                              <p style="font-size: 2vh">Price: ${{pet.price}}</p>
                          </div>
                          <div class="card ms-5" style="width: 30vh">
                              <a  class="btn btn-primary" href="{{url_for('pet_page', id=pet.id)}}">
                                  Pet details
                              </a>
                          </div>
                      </div>
                  </div>
            {% endfor %}
        {% endblock %}
    </div>
</body>
</html>
