*{
    font-family: "Roboto Thin", monospace;
    margin: 0;
}

body{
    background-image: url(168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    width: 100px;
    height: 120px;
    margin-left: 30px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    overflow: hidden;
    background-color: black;
  }

li{
    float: right;
    padding-right: 100px;
  }

li a{
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
  }

li a:hover{
    color: orangered;
  }

.main{
    margin: 150px 0 50px 50px;
    position: absolute;
    bottom: 10px;
}

.header{
    font-size: 110px;
    font-weight: bolder;
}

.bio{
    font-weight: bold;
    width: 400px;
}

.footer{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }


a{
    text-decoration: none;
}
a:hover{
    color: orangered;
  }